html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#particle-canvas {
    width: 100%;
    height: 100%;
/*    background: rgb(0 0 0 / 0%);*/
    /*    background: url("../bg.jpg");*/
}

div.content {
    position: absolute;
    z-index: 197;
    top: 50%;
    left: 50%;
    color: #ffffff;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
    transform: translate(-50%, -50%);
    text-align: center;

}

div.content h1 {
    font-size: 3vw;
}

p#demo {
    font-size: 4vw;
}

span#typed {
    font-size: 3vw;
    text-align: left;
}

div.socialIcon ul {
    list-style-type: none;
}

div.socialIcon ul li {
    display: inline;
    padding: 10px;
}

div.socialIcon ul li a {
    text-shadow: none;
    color: white;
    padding: 10px;
    /*    filter: grayscale(50%);*/
}

.bg-facebook {
    background-color: #4867aa;
}

.bg-insta {
    background-color: #e02f73;
}

.bg-linkedin {
    background-color: #007bb6;
}

.bg-twitter {
    background-color: #007bb6;
}
