*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background: url(skillsbg7.jpg ) 0px 0px;

    background-repeat: no-repeat;
    background-size: cover;
}

.skills-container{
    width: 100%;
    background: rgb(34, 34, 33, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    
}

.left-bar{
    width: 50%;
    margin: 50px 10px 10px;
    padding: 20px;
    opacity: 50;
    

}
.right-bar{
    width: 50%;
    margin: 50px 10px 10px;
    padding: 20px;
    opacity: 500;
}

li{
    position: relative;
    list-style: none;
    margin: 70px 0;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 0;

}
.business-dot1::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(100% + 5.5px);
    left: -5px;
    font-size: 200px;
    background-color: rgb(57, 181, 230);
    border: 5px solid white;
    border-radius: 50%;
    z-index: 1;
    
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-name: dot1;
}
@keyframes dot1{
    0%{ transform: translateX(0px);}
    100%{transform: translateX(637px);}
}
li::before{
    content: "";
    position: absolute;
    top: calc(100% + 13px);
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(187, 189, 190, 0.5);
}

.business::after{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 10px;

    background-color: rgb(69, 191, 240);
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: business;
}

@keyframes business{
    to{
        width: 92%;
    }
}
.business-dot2::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(100% + 5.5px);
    left: -5px;
    font-size: 200px;
    background-color: orange;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 1;
    
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-name: dot2;
}
@keyframes dot2{
    0%{ transform: translateX(0px);}
    100%{transform: translateX(339.5px);}
}

.tax::after{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 10px;

    background-color: orange;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: tax;
}

@keyframes tax{
    to{
        width: 50%;
    }
}
.business-dot3::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(100% + 5.5px);
    left: -5px;
    font-size: 200px;
    background-color: rgb(7, 163, 7);
    border: 5px solid white;
    border-radius: 50%;
    z-index: 1;
    
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-name: dot3;
}
@keyframes dot3{
    0%{ transform: translateX(0px);}
    100%{transform: translateX(523.5px);}
}

.risk::after{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 10px;

    background-color: rgb(7, 163, 7);
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: risk;
}

@keyframes risk{
    to{
        width: 76%;
    }
}
.business-dot4::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(100% + 5.5px);
    left: -5px;
    font-size: 200px;
    background-color: rgb(119, 16, 119);
    border: 5px solid white;
    border-radius: 50%;
    z-index: 1;
    
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-name: dot4;
}
@keyframes dot4{
    0%{ transform: translateX(0px);}
    100%{transform: translateX(474px);}
}

.accumulation::after{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 10px;

    background-color: rgb(119, 16, 119);
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: accumulation;
    
}
@keyframes accumulation{
    to{
        width: 69%;
    }
}
.business-dot5::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(100% + 5.5px);
    left: -5px;
    font-size: 200px;
    background-color: rgb(207, 7, 7);
    border: 5px solid white;
    border-radius: 50%;
    z-index: 1;
    
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-name: dot5;
}
@keyframes dot5{
    0%{ transform: translateX(0px);}
    100%{transform: translateX(601.3px);}
}

.retirement::after{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 10px;

    background-color: rgb(207, 7, 7);
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: retirement;
    
}
@keyframes retirement{
    to{
        width: 87%;
    }
}
.business-dot6::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(100% + 5.5px);
    left: -5px;
    font-size: 200px;
    background-color: rgb(62, 62, 247);
    border: 5px solid white;
    border-radius: 50%;
    z-index: 1;
    
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-name: dot6;
}
@keyframes dot6{
    0%{ transform: translateX(0px);}
    100%{transform: translateX(275.5px);}
}
.estate::after{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 10px;

    background-color: rgb(62, 62, 247);
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: estate;
    
}
@keyframes estate{
    to{
        width: 41%;
    }
}
